@import "../scss/lib/theme/vars";

.icon-list {
  position: absolute;
  margin-top: 3vw;
  margin-left: 22vw;
}

.social-icon {
  background-image: url(../../assets/icons.png);
  background-repeat: no-repeat;
  margin-bottom: 1vw;
}

.social-icon-linkedin {
  background-position: -398px -54px;
	width: 33px;
	height: 33px;
}

.social-icon-linkedin:hover {
	background-position: -398px -129px;
	width: 33px;
	height: 33px;
}

.social-icon-github {
	background-position: -456px -54px;
	width: 32px;
	height: 33px;
}

.social-icon-github:hover {
	background-position: -456px -129px;
	width: 32px;
	height: 33px;
}
