@import "../../scss/lib/theme/vars";

.navbar {
  width: 100%;
  height: 12vw;
  position: relative;
  overflow: visible;
}

.shiv-nav {
  width: 40%;

  .shiv-pic {
    position: absolute;
    float: left;
    height: 75%;
    top: 1vw;
    margin-bottom: 1.5vw;
    margin-left: 1.5vw;
    border: 3px solid black;
    border-radius: 50%;
  }

  h1 {
    position: absolute;
    float: left;
    margin-left: 2.2vw;
    margin-top: 10vw;
  }
}

.info-nav {
  h1 {
    float: right;
    clear: both;
    margin: 1vw;
  }

  h2 {
    float: right;
    clear: both;
    margin: 1vw;
    margin-top: 2vw;
  }
}
